<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.fte.biz.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhu.fte.biz.entity.SysUser">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="nick_name" property="nickName" />
        <result column="avatar" property="avatar" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="create_time" property="createTime" />
        <result column="del_status" property="delStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, nick_name, avatar, password, email, mobile, create_time, del_status
    </sql>

</mapper>
